*.ali
*.ci
*.o
*.so
*.d
*.stderr
*.stdout
*.bexch
*.su
*.cswi
b__*
*.pyc
Makefile.config
output
.outputs
messages.txt
config.py
checkrelease
deps2symbs
rlimit
ssfetch
ssprep
getbuildorder
report-keywords
testsuite.duration*
gnatinspect.db*
*.cgpr
.#*#
clang_ref_cache.db
*loc.xml
/regresion/0004_BuildOrderError/output.txt
/regresion/0005_BuildOrderError/output.txt
/regresion/0006_ExecutableProjectWidthAll/make.res
/regresion/0006_ExecutableProjectWidthAllAddons/make.res
/regresion/0007_ssfetch_simple/.ssprep/ssfetch-file.conf
/regresion/testsuite.diff
/regresion/testsuite.res
/tests/bin/ssprep-tests-testharnesses-test_all
/tests/symb.xml
/tests/test-results.xml
/.obj
_
ssprep-*.*
alire
config
.clang*
